<h3>Human scores</h3>
<ol class="unstyled">
  <li ng-repeat="humanScore in humanScores track by $index">
    {{humanScore}}
  </li>
</ol>

<h3>AI scores</h3>
<ol class="unstyled">
  <li ng-repeat="aiScore in aiScores track by $index">
    {{aiScore}}
  </li>
</ol>

<div>
  Human win ratio: {{humanWinCount}}:{{humanLossCount}}
</div>
<div>
  AI win ratio: {{aiWinCount}}:{{aiLossCount}}
</div>

<div class="heading">
  <h1 class="title">2048</h1>
  <a class="restart-button">New Game</a>
  <div class="scores-container">
    <div class="score-container">0</div>
    <div class="best-container">0</div>

  </div>
</div>

<div class="above-game">
  <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>

</div>

<div class="game-container">
  <div class="game-message">
    <p></p>
    <div class="lower">
      <a class="keep-playing-button">Keep going</a>
      <a class="retry-button">Try again</a>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
  </div>

  <div class="tile-container">
  </div>
</div>

<div class="game-container">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
  </div>

  <div class="ai-tile-container">
  </div>
</div>

<div class="ai-scores-container">
  <div class="ai-score-container">0</div>
  <div class="ai-best-container">0</div>

</div>

<div class="ai-game-message"></div>
<div class="ai-score-sharing"></div>
